<div
  class="card bg-primary container note-card <%= note.open ? '' : 'closed-note' %> mb-2"
  id="note-<%= note._id %>-card"
>
  <div
    class="card-body d-flex flex-row justify-content-between align-items-center"
  >
    <div class="card-left d-flex flew-row">
      <form
        action="/notes/toggle-open/<%= note._id %>"
        method="POST"
        class="form-check d-flex align-items-center toggle-open-form"
        data-noteid="<%= note._id %>"
        data-runid="<%= note.runId %>"
      >
        <input type="hidden" name="_method" value="PUT" />
        <input class="form-check-input fs-4" name="open" type="checkbox"
        value="" id="openCheckbox-<%= note._id %>" <%= note.open ? "" :
        "checked" %> >
        <label
          class="form-check-label visually-hidden"
          for="openCheckbox-<%= note._id %>"
        >
          Open
        </label>
      </form>
      <div class="card-content">
        <h3
          class="card-text patrick-hand-regular"
          id="note-<%= note._id %>-content"
        >
          <%= note.content %>
        </h3>
        <p class="card-subtitle text-muted">
          <% const d = new Date(note.createdAt); const time =
          d.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit',
          hour12: true }); const date = d.toLocaleDateString('en-US', { month:
          'short', day: 'numeric', year: 'numeric' }); %> <%= `${time}, ${date}`
          %>
        </p>
      </div>
    </div>
    <div class="card-right d-flex flex-row">
      <div class="d-none d-sm-flex gap-2" id="note-<%= note._id %>-buttons">
        <button
          data-bs-noteid="<%= note._id %>"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#editNoteModal"
        >
          Edit
        </button>
        <button
          data-noteid="<%= note._id %>"
          class="btn btn-warning delete-note-button"
          data-bs-toggle="modal"
          data-bs-target="#deleteNoteModal"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>

      <div class="dropdown d-block d-sm-none mt-2">
        <button
          id="note-<%= note._id %>-dropdown"
          type="button"
          class="btn btn-secondary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        ></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
          <a
            data-bs-noteid="<%= note._id %>"
            class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#editNoteModal"
            >Edit</a
          >
          <a
            data-noteid="<%= note._id %>"
            class="delete-note-button dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#deleteNoteModal"
          >
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
